@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: arial, sans-serif !important;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 200px;
    width: 100%;
}

.rockbtn{
    display: inline-block;
    background-image: url(https://i.postimg.cc/fLRvvbDM/therock.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    height: 200px;
    width: 150px;
    margin: 5px;
}

.paperbtn{
    display: inline-block;
    background-image: url(https://i.postimg.cc/Z51P1hph/paper.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    height: 200px;
    width: 150px;
    margin: 5px;
}

.scissorsbtn{
    display: inline-block;
    background-image: url(https://i.postimg.cc/SxX7TKXr/scissors.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    outline: none;
    height: 200px;
    width: 150px;
    margin: 5px;
}

.optbox{
    display: flex;
    height: 30px;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.opttext{
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 150px;
}

.resultbox{
    display:flex;
    font-size: 30px;
    color: red;
    height: 50px;
    width: 100%;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

